.img__giratina
  opacity: 0.1
  position: fixed
  top: 16vh
  right: -22vw
  transform: scale(0.5)
  z-index: -1

article
  max-width: 25rem
  margin: 0 auto


// Media queries... Obviously
@include media-breakpoint-up(sm)
  .img__giratina
    transform: scale(0.7)
    right: -19vw

@include media-breakpoint-up(md)
  .img__giratina
    top: 6vh
    right: 0
    opacity: 1
    transform: scale(1)
    max-width: 100%
    max-height: 60vh
    margin: 0 auto
  .jumbotron
    text-align: left !important

@include media-breakpoint-up(lg)
  .img__giratina
    max-height: 90vh !important

@include media-breakpoint-up(xl)
  .img__giratina
    max-height: 100vh
    right: 0