//Font-related
  
@font-face
  font-family: "Nintendo-DS-BIOS"
  src: url("../assets/fonts/Nintendo-DS-BIOS.ttf") format("truetype")


// Variables overrides
// for bootstrap

$primary: #CC0000
$secondary: #3B4CCA
$font-family-base: 'Nintendo-DS-BIOS'
$font-size-base: 2rem
$line-height-base: 0.75
$h1-font-size: $font-size-base * 1.8
$headings-line-height: 0.9
$navbar-toggler-font-size: 1rem
$jumbotron-bg: transparent
$border-radius: 0
$headings-color: #1F202C
$body-color: #51535D
$enable-responsive-font-sizes: true
$navbar-toggler-border-radius: 50px
$navbar-light-toggler-border-color: transparent

// Custom sass

footer
  position: absolute
  padding: 2.4vw
  bottom: 0

form
  max-height: 25vh
  max-width: 50vw
  max-height: 20vh
  min-height: 16vh

.action
  padding: 0.8rem 2rem !important
  font-size: 2rem !important
  margin-top: 1vw

.ws-preline
  white-space: pre-line !important

.h-60
  height: 60%
.h-10
  height: 10%
.vh-80
  height: 80vh
.navbar-brand
  margin-right: 0 !important

// Imports
@import '~bootstrap'
@import 'landing'
@import 'app'


// Media queries... Obviously
@include media-breakpoint-up(sm)

@include media-breakpoint-up(md)
  figure
    max-height: 100% !important
    max-width: 100% !important
  img
    height: auto !important
    min-width: auto !important
  .jumbotron
    text-align: left !important
  .navbar-brand
    text-align: left !important
    justify-self: start !important
  .action
    padding: 1rem 3rem !important

@include media-breakpoint-up(lg)
  .action
    padding: 1.2rem 3.4rem !important

@include media-breakpoint-up(xl)
  nav
    max-width: 75vw
    margin: 0 auto